body{
  font-family: 'Poppins' ,sans-serif;
}
.maincontainer {
    width: 95%;
  }

  .mainheading {
    color: rgb(227, 46, 46);
    font-weight: 501;
  }

  .mainbtn {
    border-radius: 20px;
    width: 80%;
  }

  /* .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 21rem;
  } */

  .carddata {
    text-align: center;
  }

  .carasol h2 {
    font-weight: 401;
    text-align: center;
    color: rgb(227, 46, 46);
  }

  .red {
    color: rgb(227, 46, 46);
  }

  .black {
    color: rgb(64, 65, 65);
  }

  .textalign {
    text-align: center;
  }

  .item:hover {
    transform: scale(1.04);
    transition: 0.3s;
  }

  .cardbox img {
    height: 100px;
    width: 100px;
  }

  .cardbox2 img {
    height: 75px;
    width: 75px;
  }

  .ratecard {
    padding: 1.5rem;
    border-bottom: 10px solid rgb(227, 46, 46);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
  }

  .ratedp {
    border: 1px solid #9a9a9a;
    border-radius: 50%;
  }

  /* .iframeimg{
    height:100%;
    width:85%;
  } */
  iframe {
    height: 12rem;
    width: 30rem;
  }
  
  .ip {
    display: flex;
    align-items: center;
  }

  .iframediv {
    display: flex;
    align-items: center;
  }
  video{
    width: 35rem;
  }

  .footer {
    background-color: rgba(40, 40, 40, 0.938);
    color: azure;
  }
 .footcol a{
    text-decoration: none;
    color: #ffffff;
  }
 .icon i{
    font-size:1.5rem;
    padding:0.3rem;
  }
  .copyright{
    font-size:0.9rem;
  }
/* For Mobile Devices */

@media only screen and (max-width: 430px){
    .footcol{
      border-bottom: 1px solid white;
      margin-top: 1em;
    }
    .iframecol{
      display: flex;
      justify-content: center;
    }
    .ip{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }